{
    "swagger": "2.0",
    "info": {
        "description": "This documentation for Echo REST server.",
        "title": "Echo REST API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "Dzung Tran",
            "url": "https://docs.api.com/support",
            "email": "support@api.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "docs.api.com",
    "basePath": "/",
    "paths": {
        "/users/{userId}": {
            "get": {
                "description": "Get user info ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Get user info",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "User ID",
                        "name": "userId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/wrapper.SuccessResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/domains.User"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "domains.User": {
            "description": "User account information",
            "type": "object",
            "properties": {
                "code": {
                    "description": "User last name",
                    "type": "string",
                    "example": "95a8d1aa-xxx-xxx-0c15d41"
                },
                "created_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string",
                    "example": "email@api.com"
                },
                "first_name": {
                    "description": "User first name",
                    "type": "string",
                    "example": "Dzung"
                },
                "id": {
                    "description": "User indetifier number",
                    "type": "integer",
                    "example": 1
                },
                "last_name": {
                    "description": "User last name",
                    "type": "string",
                    "example": "Tran"
                },
                "phone": {
                    "type": "string",
                    "example": "+84 0986415xxxx"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "active",
                        "deactivated",
                        "banned"
                    ],
                    "example": "active"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "wrapper.SuccessResponse": {
            "type": "object",
            "properties": {
                "data": {},
                "metadata": {},
                "success": {
                    "type": "boolean",
                    "example": true
                }
            }
        }
    }
}